footer{
    font-family: cursive;
    background-color: white;
}

#footerSeparator{
    width:50%; 
    margin-left: 25%; 
    margin-right:25%;
}

#loginBox{
    margin:10%;
    border-style: groove;
}

#table-div{
    text-align: center;
    padding-left: 90px;
    margin: 0 auto;
    padding-right: 90px;
    top: 50%;
    background-size: contain;
    background-attachment: fixed;
}

#table{   
    background-color:yellow;
}

#bigStylish-text{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#textHome{
    margin: 10%;
    padding-top: 4%;
    padding-bottom: 5%;
    background-color: yellow;
    border-radius: 50px;
}